<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Wmd</title>
  <link rel="search" href="/opensearch.xml" type="application/opensearchdescription+xml" title="Wmd">
</head>

<body>
  <ul>
    {{#each prefixes}}
    <li>
      <b>{{prefix}}</b> for {{name}}, <code>{{url_template}}</code>
    </li>
    {{/each}}
  </ul>
</body>

</html>
